body{
    margin: 0px;
}

h1 {
    text-align: center;
}
/*/*Goh Yee Minh's Styling /**/
/* Nav bar styling */
.navbar table{
    background-color: pink;
    overflow: auto;
     justify-content: space-evenly;
    display: flex;
    border-collapse: collapse;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar td{
    width: 200px;
    height: auto;
}

.navbar a:hover{
    background-color: rgb(255, 223, 228);
    color: rgb(255, 0, 43);
}

/*Logo N name styling*/
.NameIcon{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.NameIcon img{
    height:100px;
    width: auto;
    vertical-align: middle;
}

/*Top Picks and reviews Table styling */
.TPtitle, .Reviews{
    font-size: 225%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: red;
    text-decoration: underline;
}

.bestinfo, .revinfo{
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.364);
}

.Reviews a{
    color: red;
}

.TPtable, .reviewtab{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;

}

/*best seller styling*/
div.TP1{
    display: block;
    background-color: rgb(217, 189, 98);
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    transform: translateY(-10px);
    border-radius: 12px;
    box-shadow: 3px 3px 5px lightpink;
    transition: 0.2s;
    transform:scale(0.9);
    overflow: hidden;
}

div.TP1:hover{
    transform: translateY(50px);
    background-color: rgb(255, 224, 123);
    transform: scale(0.95);
    transition: 0.2s;
}

.TP1 img{
    height: 250px;
    width: auto;
    border: 20px;
}

.TP1 h3{
    text-align: center;
    font-size: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
}

/*review styling*/
div.Reviewcard{
    display: block;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgb(58, 58, 58);
    transition: 0.2s;
    overflow: hidden;
    height: 100px;
    width: 250px;
}

div.Reviewcard:hover{
    transform: translateY(-25px);
    transition: 0.2s;
    box-shadow: 3px 3px 15px rgb(58, 58, 58);
}

.Reviewcard h3{
    text-align: left;
    font-size: auto;
    margin-bottom:0;
    margin-top: 0px;
    color: gold;
}

p.reviewtext{
    font-style: italic;
}



.TPtable a, .reviewtab a{
    text-decoration: none;
    color: black;
}

/*Home page pages style(GOH YEE MINH)*/
.HPpages{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    align-self: center;
    margin: 5px auto;



}

label.HPpages{
    padding: 8px 12px;
    background: #eee;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;

}

label.HPpages:hover{
    background: #8f8f8f;
    transition: 0.3s;
}



.HomeViewT, .tabs, .extInfo{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


input:checked + label.HPpages {
    background: #333;
    color: #eee;
    transition: 0.2s;
}
/*HomePage tabs logic*/
#Reviews:checked ~ .HomeViewT h2.TPtitle{
    transform: translateX(-1500px);
    transition: 0.3s;
    visibility: hidden;
}

#BestSellers:checked ~.HomeViewT h2.TPtitle{
    transform: translateX(75px);
    transition: 0.3s;
    visibility: visible;
}

#BestSellers:checked ~ .HomeViewT h2.Reviews{
    transition: 0.3s;
    transform: translateX(1500px);
    visibility: hidden;
}

#Reviews:checked ~.HomeViewT h2.Reviews{
    transform: translateX(-125px);
    transition: 0.3s;
    visibility: visible;
}

#Reviews:checked ~.tabs .TPtable{
    transform: translateX(-1500px);
    transition: 0.3s;
    visibility: hidden;
}

#BestSellers:checked ~.tabs .TPtable{
    transform: translateX(490px);
    transition: 0.3s;
    visibility: visible;
}

#BestSellers:checked ~.tabs .reviewtab{
    transform: translateX(1500px);
    transition: 0.3s;
    visibility: hidden;
}

#Reviews:checked ~.tabs .reviewtab{
    transform: translateX(-390px);
    transition: 0.3s;
    visibility: visible;
}

#Reviews:checked ~.extInfo .bestinfo{
    transform: translateX(-1500px);
    transition: 0.3s;
    visibility: hidden;
}

#BestSellers:checked ~.extInfo .bestinfo{
    transform: translateX(150px);
    transition: 0.3s;
    visibility: visible;
}

#BestSellers:checked ~.extInfo .revinfo{
    transform: translateX(1500px);
    transition: 0.3s;
    visibility: hidden;
}

#Reviews:checked ~.extInfo .revinfo{
    transform: translateX(-205px);
    transition: 0.3s;
    visibility: visible;
}

/*orderpage styling*/
.OrderForm{
   display: block;
   border: 2px solid rgba(0, 0, 0, 0.288);
   padding: 10px;
   padding-bottom: 100px;
   margin: 20px 200px;
   border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.required{
    color: red;
}

.input{
    margin-bottom: 5px;
}




/*/* Ang Kai Yuan's Styling*//*
/* Product Table styling */
.B1{
    width: 97%;
    margin-left: 10px;
    height: auto;
}
.I1{
    width: 120px;
    height: auto;
}
.table1{
    margin-left: 10px;
}
.Product-table,.Product-table th,.Product-table td{
    border: 1.3px solid black;
}


.Product-table{
    width: 97%;
    display: inline-table;
    vertical-align: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; 
    border-collapse: collapse;
}
.Product-table caption{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
    text-underline-offset: 6px;
}
.Product-table th{
    background-color: rgb(217, 189, 98);
    font-weight: bold;
    height: 50px;
}
.Product-table th, .Product-table td {
    padding: 10px;
    text-align: left;
}
.Product-table tr:nth-child(even) {
    background-color: #cacaca;
}
/*Product-tabe tr:nth-child(even) code modified from W3 Schools: https://www.w3schools.com/howto/howto_css_table_zebra.asp / 

/*Filter Button styling*/
input[type="radio"] {
  display: none;
}

label.filterbutton {
  padding: 8px 12px;
  background: #eee;
  cursor: pointer;
  margin-right: 5px;
  margin-inline-start: 5px;
}

input:checked + label.filterbutton {
  background: #333;
  color: white;
}

/*css filtering system*/
input:checked ~ .table1 .Product-table {
  display: none;
}

#all:checked ~ .table1 .Product-table {
  display: inline-table;
}

#AnC:checked ~ .table1 .AC {
  display: inline-table;
}

#Calc:checked ~ .table1 .Cal {
  display: inline-table;
  margin-top: -2%;
}

#WI:checked ~ .table1 .Write{
  display: inline-table;
  margin-top: -2%;
}

#TA:checked ~ .table1 .Tech{
  display: inline-table;
  margin-top: -5%;
}
/*Filter Button Code modified from AI/ 


/*/ Shyeen Ong Styling//*
/*Study-tips page style(SHYEEN ONG SERN YI)*/
.Study-tips-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 20vh;
    padding: 20px;
    box-sizing: border-box;
}

.Study-tips-main details {
    width: min(90%, 1200px);
    margin: 2.5px 0;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-image: url("MathBackground.png"); /*This image is AI generated*/
    background-repeat: repeat;
    background-size: cover;
}

.GeneralStudyGuide h1 {
    text-align: center;
    color: pink;
}

.Study-tips-main summary {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    display: block;
    color: white;
}

.Study-tips-main p {
    color: white;
}

.Study-tips-main h1 {
    text-align: center;
    color: pink;
    text-decoration: underline;
}

.Study-tips-main h2 {
    text-align:center;
    color: rgb(217, 189, 98);
}

.Study-tips-main h3 {
    text-align: center;
}

.Study-tips-main table img {
    width: 180px;
    height: auto;
    margin: 20px;
    display: block;
    background-color: rgb(217, 189, 98);
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    transform: translateY(-10px);
    border-radius: 12px;
    box-shadow: 3px 3px 5px lightpink;
    transition: 0.2s;
    transform:scale(0.9);
    overflow: hidden;
}

.GeneralStudyGuide table {
    border-collapse: collapse;
    border: 2px solid black;
    td, th {
        border: 2px solid black;
        padding: 15px;
    }
    th {
        background-color: gray;
        color: white;
    }
}

.GeneralStudyMethods h2 li {
    text-align:justify;
    color: white;
}

.GeneralStudyMethods h3 ul li {
    backdrop-filter: blur(10px);
}

.GeneralStudyMethods ol {
    display: block;
    background-image: url("PinkStudiesBackground.png"); /*This image is AI generated*/
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 12px;
    box-shadow: 4px 4px
    10px #B9B9B9;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
}

.MathTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px white solid;
    tr, th, td {
        padding: 10px;
        margin: auto;
        border: 2px white solid;
        color: white;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        width: 75px;
        height: 75px;
    }
}

.ArtTable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px black solid;
    tr, th, td {
        padding: 10px;
        margin: auto;
        border: 2px black solid;
        color: black;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        width: 75px;
        height: 75px;
    }
}

.LingTable {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px white solid;
    tr, th, td {
        padding: 10px;
        margin: auto;
        border: 2px white solid;
        color: white;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        width: 75px;
        height: 75px;
    }
}

.SciTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px white solid;
    tr, th, td {
        padding: 10px;
        margin: auto;
        border: 2px white solid;
        color: white;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        width: 75px;
        height: 75px;
    }
}

.MLSTips {
    display: block;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 12px;
    box-shadow: 4px 4px
    10px #B9B9B9;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
    h2, h3 {
        color: white;
    }
}

.ArtTips {
    display: block;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 12px;
    box-shadow: 4px 4px
    10px #B9B9B9;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
    h2, h3 {
        color: black;
    }
}



/*/*Abel's Styling*/

.our-vision{
display: block;
background: pink;
padding: 50px;
border-radius: 12px;
box-shadow: 4px 4px
10px #B9B9B9;
max-width: 900px;
margin-top: 0;
margin-bottom: 0;
margin: 0 auto;
}

.our-vision img{
    scale: 50%;
    transform: translateX(-650px);
    margin: -30% auto;
}

.our-mission{
 background: pink;
padding: 50px;
border-radius: 12px;
box-shadow: 4px 4px
10px #B9B9B9;
max-width: 900px;
margin-top: 0;
margin-bottom: 0;
margin: 0 auto;
}

.our-mission img{
    scale: 50%;
    transform: translateX(-650px);
    margin: -30% auto;
}

.our-story{
background: pink;
padding: 50px;
border-radius: 16px;
box-shadow: 4px 4px
10px #B9B9B9;
max-width: 900px;
margin: 0 auto;
}


.answer{
 background: pink;
padding: 50px;
border-radius: 16px;
box-shadow: 4px 4px
10px #B9B9B9;
max-width: 900px;
margin: 0 auto;
font-size: larger;
}

.question{
    font-size:larger;
}


.faq{
    cursor: pointer;
}




/*/* Richard's Styling*//*
/*Contact page style(Richard lol)*/
.secretintern{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    height: 15px;
    width: auto;
    font-size: 20px;
    line-height: 1.8;
}
.ContactSubmit{
 position: relative;
 font-size: 16px;
 margin: 0 50px;
 padding: 16px 50px;
 color: black;
 background: rgb(206, 148, 195);
 border: none;
 cursor: pointer;
 border-radius: 20px;
}
.ContactHeader {
   color: white;
padding: 40px;
border: none;
border-radius: 20px;
background:
linear-gradient(
#eceb9d, #e7b5e1);
}
