body{
    margin: 0px;
}

h1 {
    text-align: center;
}
/* Nav bar styling */
.navbar table{
    background-color: pink;
    overflow: auto;
     justify-content: space-evenly;
    display: flex;
    border-collapse: collapse;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar td{
    width: 200px;
    height: auto;
}

.navbar a:hover{
    background-color: rgb(255, 223, 228);
    color: rgb(255, 0, 43);
}


.NameIcon{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.NameIcon img{
    height:100px;
    width: auto;
    vertical-align: middle;
}